<h1>Log In Below:</h1>
<form method = "POST" action = "/sessions">
  <p>email:<input type = "email" name = "email" id="email"></p>
  <p>password:<input type = "password" name = "password" id="password"></p>
  <p><input type = "submit" value = "Log In"></p>
</form>
