<h1>Log In Below:</h1>
<form action="/sessions" method="post">
  <input id = "email" type="text" name="email">
  <input id = "password" type="text" name="password">
  <input id = "Log In" type="submit" name="Log In">
</form>
