<h1>Log In Below:</h1>

<form method="POST" action="/sessions">

<p>Email: <input type="text" name="email"></p>
<p>Password: <input type="text" name="password"></p>

<button type="submit" value="Log In">submit</button>
</form>


<!-- also -->
<!-- <h1>log in below:<h1>
<form action='/sessions' method="POST">
  <label>Email:</label>
  <br/>
  <input type="text" name="email">
  <br/>
  <label>Password:</label>
  <br/>
  <input type="password" name="password">
  <input type="submit" value="Log In">
</form> -->
