<h1>Sign Up Below:</h1>
<form method = "POST" action = "/registrations">
  <p>name<input type = "text" name = "name" id = "name"></p>
  <p>email<input type = "email" name = "email" id = "email"></p>
  <p>password<input type = "password" name = "password" id = "password"></p>
  <p><input type = "submit" value = "Sign Up"></p>
</form>
