<h1>Sign Up Below:</h1>

<form class="" action="/registrations" method="post">
  <input type="text" name="name" value="name"><br>
  <input type="text" name="email" value="email"><br>
  <input type="text" name="password" value="email"><br>
  <input type="submit" name="" value="Sign Up">
</form>
