<h1>Sign Up Below:</h1>
<form action="/registrations" method="post">
  <input type="text" name="name" placeholder="Name">
  <input type="text" name="email" id="email" placeholder="Email">
  <input type="text" name="password" placeholder="Password">
  <input type="submit" value="Sign Up">
</form>
