<h1>Sign Up Below:</h1>
<form action="/registrations" method="POST">
  <p>
    <label for="name">Username: </label>
    <input id="name" type="text" name="user[name]">
  </p>
  <p>
    <label for="email">Email: </label>
    <input id="email" type="text" name="user[email]">
  </p>
  <p>
    <label for="password">Password: </label>
    <input id="password" type="password" name="user[password]">
  </p>
  <input type="submit" value="Sign Up">
</form>

